.lcts-page .section {
    overflow: visible;
}

.lcts-container {
    position: relative;
    min-height: 200px;
}

.lcts-member:nth-of-type(3n+1) {
    clear: both;
}

.lcts-member {
    width: calc(33.333% - (0.25rem * 4) - 0.125rem * 2);
    padding: 0.25rem;
    margin-right: 0.125rem;
    margin-bottom: 0.25rem;
}

.lcts-member:nth-of-type(3n) {
    margin-right: 0;
}

.lcts-member a {
    color: inherit;
}

.lcts-member-lightbox {
    display: none;
    max-width: 75%;
    background-color: rgb(51,51,51) !important;
    color: white;
}

.lcts-member-lightbox h1,
.lcts-member-lightbox h2,
.lcts-member-lightbox h3 {
    color: white;
}

.lcts-member-lightbox .lcts-member-core-data {
    width: calc(33.333% - 1rem);
    float: left;
}

.lcts-member-lightbox .lcts-member-blurb {
    width: 66.666%;
    float: left;
    padding-left: 1rem;
}

.lcts-affiliation {
    font-style: italic;
}

.lcts-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
}

@media only screen and (min-width: 800px) and (min-height: 600px) {
    .lcts-filters {
        position: sticky;
        top: 100px; /** needs to be set according to the actual height of the site's sticky header */
        z-index: 2;
        background: rgba(255,255,255,0.9);
    }
}

.lcts-filters select {
    display: inline-block;
    color: #333;
    border: 1px solid #999;
    font-size: 14px;
}

.filter-facet:disabled {
    opacity: 0.3;
}

.lcts-clear-filters {
    border: none;
    height: 2rem;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    font-weight: bold;
}

.lcts-no-results {
    display: none;
    text-align: center;
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
}